.spectacle-content code {
    font-size: 0.6em;
}

.good-green {
    color: #68B604;
}

.good-orange {
    color: #FC6A31;
}

.spectacle-content > pre {
    padding: 15% 0 !important;
}

.stroke-text {
    -webkit-text-stroke-width: 0.005em;
    -webkit-text-stroke-color: #fff;
}

.stroke-text-black {
    -webkit-text-stroke-width: 0.005em;
    -webkit-text-stroke-color: #000;
}

.crisp-image {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}